.tourist-attractions-cards {
  margin-bottom: 193px;
  margin-left: 130px;
}

.tourist-attractions-cards-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  padding: 60px 0 32px;
}

.tourist-attractions-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  justify-content: center;
}
.tourist-attractions-card {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 576px;
}

.tourist-attractions-card-image {
  display: flex;
  max-width: 288px;
  height: 212px;
  border-radius: 8px;
}

.tourist-attractions-card-text {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.tourist-attractions-card-title {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 42px;
}

.tourist-attractions-card-description {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  color: #858585;
  margin-bottom: 24px;
}

@media screen and (max-width: 855px) {
  .tourist-attractions-cards {
    margin-left: 0px;
    padding: 0 26px;
    margin-bottom: 34px;
  }
  .tourist-attractions-cards-title {
    padding: 68px 0 32px;
  }
  .tourist-attractions-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .tourist-attractions-card {
    display: flex;
    flex-direction: column;
    max-width: 343px;
  }
  .tourist-attractions-card-image {
    width: 100%;
    max-width: 343px;
  }
  .tourist-attractions-card-text {
    align-items: center;
  }
  .tourist-attractions-card-title {
    margin-top: 24px;
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 856px) and (max-width: 1315px) {
  .tourist-attractions-cards {
    margin-left: 0px;
  }
  .tourist-attractions-cards-title {
    padding-left: 130px;
  }
  .tourist-attractions-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 130px;
    padding-right: 26px;
  }
  .tourist-attractions-card {
    max-width: 100%;
  }
}
